<h3><%= @product.title %></h3>
<p><%= @product.description %></p>
<div>
<%=@product.user&.full_name||"Deleted" %>'s product
</div>
<p>Price: <%= number_to_currency @product.price %></p>

<small>
<%if can? :crud, @product%>

    <%= link_to("Edit", edit_product_path(@product.id)) %> | 
    <%end%>
<%if can? :crud, @product%>

    <%= link_to("Delete", product_path(@product), method: :delete, data: { confirm: "Are you sure ?" }) %>
        <%end%>

</small>
<h3>Write your review</h3>
<%= form_with model:[@product,@review],local: true do |f|%>
<ul>
<% if @review.errors.full_messages.each do |msg|%>
    <li>
        <%= msg %>
    </li>
<% end %>
<% end %>
</ul>
<div class='shadow-sm p-3 mb-5 bg-white round'>
  Your Review <%= f.text_area :body,
                              cols: 50,
                              rows: 5,
                              placeholder: "How do you find the product?" %></p>
  <p>Your Rating <%= f.select(:rating, options_for_select(1..5), class: 'form-control') %>
  </div>
  <%= f.submit  class: 'btn btn-primary' %>
<% end %>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
    <div class='shadow-sm p-3 mb-1 bg-white rounded'>

<%= review.body %>
<div>
Review by: 
<%=review.user&.full_name||"Deleted" %>
</div>
    <h4><%= display_stars(review) %></h4>
    <%if can? :crud, review%>
<%= link_to "Delete", product_review_path(@product, review), method: :delete, data: { confirm: "Are you sure?" } %>
<%end%>
</div>
<% end %> 